In [127]:
import pandas as pd
import numpy as np
import os
os.chdir(r"C:\Users\USER\Downloads")
print(os.getcwd())

C:\Users\USER\Downloads

In [128]:
lean_pop = pd.read_csv("clean_population_final.csv")
data = pd.read_csv("data_cleaned_final.csv")
clean_earthquake = pd.read_csv("earthquake_data_place_cleaned.csv")
catalog = pd.read_csv("neos_catalog_cleaned.csv")
upcoming = pd.read_csv("neos_upcoming_approaches_cleaned.csv")
clean_aster = pd.read_csv("cleaned_asteroids_final.csv")

In [129]:
clean_earthquake.head()

,id,time_utc,place,mag,magtype,depth_km,longitude,latitude,tsunami,alert,status,url,magnitude_category,hour,minute,second,distance_km,direction,city,country
0,us6000rev6,2025-10-04 23:42:15.543,"18 km SE of Jaqué, Panama",4.5,MB,10.00,-78.0468,7.3934,0,none,reviewed,https://earthquake.usgs.gov/earthquakes/eventp...,Light,23,42,15,18.0,SE,Jaqué,Panama
1,us6000reus,2025-10-04 21:09:39.916,Fiji region,4.2,MB,643.06,-179.0873,20.8721,0,none,reviewed,https://earthquake.usgs.gov/earthquakes/eventp...,Light,21,9,39,NaN,NaN,Fiji region,NaN
2,us6000reun,2025-10-04 21:08:45.808,"13 km NE of Tilarán, Costa Rica",4.7,MB,10.00,-84.8718,10.5430,0,none,reviewed,https://earthquake.usgs.gov/earthquakes/eventp...,Light,21,8,45,13.0,NE,Tilarán,Costa Rica
3,us6000reul,2025-10-04 20:30:53.755,southeast of Easter Island,4.9,MB,10.00,-104.0781,35.5811,0,none,reviewed,https://earthquake.usgs.gov/earthquakes/eventp...,Light,20,30,53,NaN,NaN,southeast,Easter Island
4,us6000reu0,2025-10-04 18:50:54.303,"295 km ESE of Levuka, Fiji",4.9,MB,531.75,-177.9514,18.6384,0,none,reviewed,https://earthquake.usgs.gov/earthquakes/eventp...,Light,18,50,54,295.0,ESE,Levuka,Fiji

In [130]:
clean_pop.head()

     lon   lat  pop_density
0 -179.5  89.5            3
1 -178.5  89.5            3
2 -177.5  89.5            3
3 -176.5  89.5            3
4 -175.5  89.5            3

In [131]:
data.head()

,63492dd3d34e47431c0fd89e,national_elevation_dataset_(ned),usgs_lidar_point_cloud_ar_benton_2015_15sua540395,sciencebase,gda,https://www.sciencebase.gov/catalog/item/63492dd3d34e47431c0fd89e,https://prd-tnm.s3.amazonaws.com/index.html?prefix=stagedproducts/elevation/metadata/ar_benton_2015/ar_benton_co_2015,laz,2022-08-13,2022-10-14t03:40:43.823-06:00,2022-10-14t03:37:23.294-06:00,processingurl,2022-10-14
0,63492ddad34e47431c0fd8b4,NaN,NaN,ScienceBase,gda,NaN,NaN,LAZ,2022-08-13,2022-10-14 03:40:49.596000-06:00,2022-10-14 03:37:30.226000-06:00,processingUrl,2022-10-14
1,63492dccd34e47431c0fd878,NaN,NaN,ScienceBase,gda,NaN,NaN,LAZ,2022-08-13,2022-10-14 03:40:37.639000-06:00,2022-10-14 03:37:16.237000-06:00,processingUrl,2022-10-14
2,63492dc1d34e47431c0fd84c,NaN,NaN,ScienceBase,gda,NaN,NaN,LAZ,2022-08-13,2022-10-14 03:40:27.984000-06:00,2022-10-14 03:37:05.086000-06:00,processingUrl,2022-10-14
3,63492dafd34e47431c0fd810,NaN,NaN,ScienceBase,gda,NaN,NaN,LAZ,2022-08-13,2022-10-14 03:40:17.139000-06:00,2022-10-14 03:36:47.945000-06:00,processingUrl,2022-10-14
4,63492da6d34e47431c0fd7e0,NaN,NaN,ScienceBase,gda,NaN,NaN,LAZ,2022-08-13,2022-10-14 03:40:07.889000-06:00,2022-10-14 03:36:38.107000-06:00,processingUrl,2022-10-14

In [132]:
catalog.head()

,id,name,absolute_magnitude_h,diameter_min_km,diameter_max_km,is_potentially_hazardous_asteroid,orbital_data_eccentricity,orbital_data_inclination,orbital_data_semi_major_axis,orbital_data_orbital_period,orbital_data_minimum_orbit_intersection,orbit_class,average_diameter_km
0,2001036,1036 Ganymed (A924 UB),9.18,38.775283,86.704169,False,0.533213,26.680736,2.664969,1589.046593,0.343339,AMO,62.739726
1,2000433,433 Eros (A898 PA),10.39,22.210328,49.663804,False,0.222836,10.828467,1.458121,643.115199,0.148353,AMO,35.937066
2,2001866,1866 Sisyphus (1972 XA),12.48,8.483108,18.968805,False,0.538121,41.206312,1.893372,951.595396,0.103674,APO,13.725956
3,2004954,4954 Eric (1990 SQ),12.56,8.176265,18.282685,False,0.449364,17.427194,2.001378,1034.170709,0.194286,AMO,13.229475
4,2001627,1627 Ivar (1929 SH),12.79,7.354531,16.445231,False,0.397323,8.456291,1.863058,928.833819,0.109225,AMO,11.899881

In [133]:
upcoming.head()

,id,name,approach_date,velocity_kps,miss_distance_km,hazardous,magnitude,velocity_mph,miss_distance_miles
0,54549680,(2025 SZ27),2025-10-04,16.413800,1.180837e+06,False,25.194,36716.684678,7.337380e+05
1,54546621,(2025 SS3),2025-10-04,12.996235,9.826487e+06,False,23.727,29071.797208,6.105894e+06
2,54549112,(2025 SG22),2025-10-04,15.214668,1.519200e+07,False,23.719,34034.298572,9.439866e+06
3,3879165,(2019 TY6),2025-10-04,15.210913,1.834042e+07,False,25.040,34025.900500,1.139620e+07
4,3878561,(2019 TS1),2025-10-04,13.140493,2.039935e+07,False,24.260,29394.494356,1.267556e+07

In [134]:
clean_earthquake_copy = clean_earthquake.copy()

# Drop columns by name
clean_earthquake_copy = clean_earthquake_copy.drop(["time_utc", "place", "url"], axis=1)

clean_earthquake_copy.head()

,id,mag,magtype,depth_km,longitude,latitude,tsunami,alert,status,magnitude_category,hour,minute,second,distance_km,direction,city,country
0,us6000rev6,4.5,MB,10.00,-78.0468,7.3934,0,none,reviewed,Light,23,42,15,18.0,SE,Jaqué,Panama
1,us6000reus,4.2,MB,643.06,-179.0873,20.8721,0,none,reviewed,Light,21,9,39,NaN,NaN,Fiji region,NaN
2,us6000reun,4.7,MB,10.00,-84.8718,10.5430,0,none,reviewed,Light,21,8,45,13.0,NE,Tilarán,Costa Rica
3,us6000reul,4.9,MB,10.00,-104.0781,35.5811,0,none,reviewed,Light,20,30,53,NaN,NaN,southeast,Easter Island
4,us6000reu0,4.9,MB,531.75,-177.9514,18.6384,0,none,reviewed,Light,18,50,54,295.0,ESE,Levuka,Fiji

In [135]:
clean_aster.head()

,neo_id,name,diameter_km,hazardous,orbit_class,velocity_kps,miss_distance_km,approach_date
0,2000433,433 Eros (A898 PA),49.663804,False,AMO,5.578619,4.711273e+07,1900-12-27
1,2002340,2340 Hathor (1976 UA),0.487573,True,ATE,17.491566,1.191121e+07,1901-07-04
2,2001620,1620 Geographos (1951 RA),5.248558,True,APO,11.762812,5.071251e+06,1901-08-23
3,2002101,2101 Adonis (1936 CA),1.086526,True,APO,19.329830,2.814095e+07,1902-07-16
4,2002063,2063 Bacchus (1977 HB),2.148028,False,APO,10.389112,9.959875e+06,1903-03-06

In [138]:
clean_earthquake_copy = clean_earthquake.copy()

# Drop columns by name
clean_earthquake_copy = clean_earthquake_copy.drop(["time_utc", "place", "url"], axis=1, errors='ignore')

# Encode 'id'
id_mapping = {v: i for i, v in enumerate(clean_earthquake_copy['id'].unique(), 1)}
clean_earthquake_copy['id_encoded'] = clean_earthquake_copy['id'].map(id_mapping)

# Encode 'magtype'
magtype_mapping = {
    'mb': 1,
    'ml': 2,
    'mw': 3,
    'mwr': 4,
    'mwb': 5,
    'mwc': 6,
    'uk': 0
}
clean_earthquake_copy['magtype_encoded'] = clean_earthquake_copy['magtype'].map(magtype_mapping).fillna(0).astype(int)

# Encode 'alert'
alert_mapping = {
    'green': 1,
    'yellow': 2,
    'orange': 3,
    'red': 4,
    'none': 0
}
clean_earthquake_copy['alert_encoded'] = clean_earthquake_copy['alert'].fillna('none').map(alert_mapping)

# Encode 'magnitude_category'
magnitude_category_mapping = {
    'minor': 1,
    'light': 2,
    'moderate': 3,
    'strong': 4,
    'major': 5,
    'great': 6
}
clean_earthquake_copy['magnitude_category_encoded'] = (
    clean_earthquake_copy['magnitude_category']
    .fillna('unknown')
    .map(magnitude_category_mapping)
    .fillna(0)
    .astype(int)
)

clean_earthquake_copy.head()

NameError: name 'clean_earthquake_copyclean_earthquake_copyclean_earthquake_copyclean_earthquake_copyclean_earthquake_copy' is not defined

In [ ]:
clean_earthquake_copy = clean_earthquake_copy.drop(['id', 'alert', 'magtype', 'magnitude_category'], axis=1)

In [ ]:
clean_earthquake_copy.head()

In [140]:

# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, roc_auc_score

# Display options
pd.set_option('display.max_columns', 100)

# Load cleaned dataset
DATA_PATH = "/mnt/data/cleaned_asteroid_data.csv"  # ensure this file exists in the environment
df = pd.read_csv(DATA_PATH)

print("Rows:", len(df))
df.head()

# Parse detection_time (HH:MM:SS) into numerical features
def parse_hms_to_seconds(t):
    try:
        h, m, s = str(t).split(":")
        h = int(float(h)) % 24
        m = int(float(m)) % 60
        s = int(float(s)) % 60
        return h*3600 + m*60 + s
    except Exception:
        return np.nan

df["detection_seconds"] = df["detection_time"].apply(parse_hms_to_seconds)

# Drop rows with missing critical fields if any
df = df.dropna(subset=["magnitude", "impact_depth_km", "latitude", "longitude", "detection_seconds"])
print("Rows after basic NA drop:", len(df))

df[["asteroid_id","detection_time","detection_seconds","magnitude","impact_depth_km","latitude","longitude","severity_category","magnitude_type","tsunami_flag"]].head()

# Features & label
numeric_features = ["magnitude", "impact_depth_km", "latitude", "longitude", "detection_seconds"]
categorical_features = ["severity_category", "magnitude_type"]

X = df[numeric_features + categorical_features]
y = df["tsunami_flag"].astype(int)  # proxy label for "impact consequence observed"

# Preprocess: scale numeric, one-hot categorical
numeric_transformer = Pipeline(steps=[
    ("scaler", StandardScaler())
])

categorical_transformer = OneHotEncoder(handle_unknown="ignore")

preprocess = ColumnTransformer(
    transformers=[
        ("num", numeric_transformer, numeric_features),
        ("cat", categorical_transformer, categorical_features)
    ]
)

# Model
clf = LogisticRegression(max_iter=200)

pipe = Pipeline(steps=[("preprocess", preprocess),
                      ("model", clf)])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42, stratify=y)

pipe.fit(X_train, y_train)
y_pred = pipe.predict(X_test)
y_proba = pipe.predict_proba(X_test)[:,1]

print(classification_report(y_test, y_pred))
print("ROC AUC:", roc_auc_score(y_test, y_proba))

# Predict on full dataset
df["impact_probability"] = pipe.predict_proba(X)[:,1]

# Derive a simple "Likely Impact Window" +/- 1 hour around detection_time (placeholder)
def seconds_to_hms(sec):
    sec = int(sec) % (24*3600)
    h = sec // 3600
    m = (sec % 3600) // 60
    s = sec % 60
    return f"{h:02d}:{m:02d}:{s:02d}"

window_seconds = 3600  # 1 hour window (placeholder)
df["impact_window_start"] = (df["detection_seconds"] - window_seconds).apply(seconds_to_hms)
df["impact_window_end"]   = (df["detection_seconds"] + window_seconds).apply(seconds_to_hms)

# Basic info bundle per object
summary_cols = [
    "asteroid_id","magnitude","magnitude_type","severity_category",
    "latitude","longitude","impact_depth_km","detection_time",
    "impact_window_start","impact_window_end","impact_probability"
]

predictions = df[summary_cols].copy()
predictions = predictions.sort_values("impact_probability", ascending=False).reset_index(drop=True)

predictions.head(10)

# Predict on full dataset
df["impact_probability"] = pipe.predict_proba(X)[:,1]

# Derive a simple "Likely Impact Window" +/- 1 hour around detection_time (placeholder)
def seconds_to_hms(sec):
    sec = int(sec) % (24*3600)
    h = sec // 3600
    m = (sec % 3600) // 60
    s = sec % 60
    return f"{h:02d}:{m:02d}:{s:02d}"

window_seconds = 3600  # 1 hour window (placeholder)
df["impact_window_start"] = (df["detection_seconds"] - window_seconds).apply(seconds_to_hms)
df["impact_window_end"]   = (df["detection_seconds"] + window_seconds).apply(seconds_to_hms)

# Basic info bundle per object
summary_cols = [
    "asteroid_id","magnitude","magnitude_type","severity_category",
    "latitude","longitude","impact_depth_km","detection_time",
    "impact_window_start","impact_window_end","impact_probability"
]

predictions = df[summary_cols].copy()
predictions = predictions.sort_values("impact_probability", ascending=False).reset_index(drop=True)

predictions.head(10)

# Visual: probability distribution
plt.figure(figsize=(6,4))
plt.hist(predictions["impact_probability"], bins=30)
plt.title("Predicted Impact Probability (Proxy Model)")
plt.xlabel("Probability")
plt.ylabel("Count")
plt.show()

FileNotFoundError: [Errno 2] No such file or directory: '/mnt/data/cleaned_asteroid_data.csv'